/* CSS files add styling rules to your content */

body {
    font-family: helvetica, arial, sans-serif;
    font-weight: bold;
    font-style: italic;
  }
  
  h1 {
    font-style: italic;
    color: #373fff;
  }
  
  p {
    font-size: 12px;
  }

  .separacao-conteudo{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: green;
  }

  .div-0{
    display: inline;
    height: 200px;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  
  .div-1{
    display: inline-block;
    height: 100%;
    width: 49%;
    padding: 0;
    margin: 0;
  }
